body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    text-align: center;

}

.logo {
    position: absolute;
    padding-top: 219px;
}

.search-bar {
    position: absolute;
    top: 355px;
    left: 575px;
    
}

.search-bar input {
    height: 30px;   
    width: 500px;
}

.navbar {
    position: absolute;
    top: 0px;
    right: 0px;;
    padding: 20px;

}