body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    text-align: center;
    margin-top: 240px;
}

.search-bar {
    text-align: center;
    padding-top: 20px;
}

input {
    width: 425px;
    padding: 10px;
    margin: 10px;
    height: 22px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    outline: none;

}

input:hover {
    border-color :#a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus {
    border-color: #4d90fe;
}

.navbar {
    border: 5px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 280px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.navbar a {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    text-decoration: none;
}

#sign-in {
    color: white;
    font-weight: bold;
    border: #4285f4;
    background-color: #4285f4;
    border-style: solid;
    border-radius: 2px;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
}